body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
}

ul {
    border: 1px solid red;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

ul,
li {
    display: inline;
    margin: 0;
    padding: 0;
}

ul {
    border: 1px solid red;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 1000px) {
    h1 {
        color: orange;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    h1 {
        color: pink;
    }
}

/* ↑の場合、下に（後に）書いた方が適用されるので、800pxまでは赤になる */

@media (orientation: landscape) {
    body {
        background-color: magenta;
    }
}

/* landscapeは形態などを横向きにした時の見え方 */

@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }
}

nav {
    flex-direction: column;
    align-items: center;
}


@media (max-width: 576px) {
    h1 {
        font-size: 3em;
    }
}